#jumbotron {
    display: block;
    margin: 0px 20%;
    height: 160px;
    margin-top: 50px;
    background-image: url('../img/zsti.jpg');
    background-position: center;
}

#jumbotron h1 {
    display: block;
    color: #fff;
    padding-top: 60px;
    font-size: 2.5em;
    text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.4);
}