body {
    margin: 0 0;
	background-color: #293038;
}

a {
    text-decoration: none;
}

.portrait {
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    transition: 0.5s all ease-out;
}

.portrait img {
    width: 100%;
}

#side-menu nav ul {
    width: 250px;
    margin: 0 auto;
    padding: 0 0;
}

#side-menu nav li {
    display: block;
    list-style: none;
    height: 30px;
    border-bottom: 1px solid #223036;
}

#side-menu nav a {
    display: block;
    margin-top: 3px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1.3em;
    color: #fff;
    width: 100%;
    text-decoration: none;
    text-align: center;
}

input{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	padding: 7px 7px;
}

h1 {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	text-align: center;
	margin-top: 10px;
	color: #333;
}

h2 {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #333;
	font-size: 1.1em;
}

#main-container {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: #fff;
    margin: 0 20% 0px 20%;
    padding: 20px 20px;
}

button {
    display: block;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	height: 40px;
	margin: 5px auto 5px auto;
	background-color: #444;
	border: 0px none;
	color: #fff;
	width: 260px;
	letter-spacing: 1px;
	transition: 0.1s all ease-out;
    text-decoration: none;
    cursor: pointer;
}

button:hover {
	background-color: #358;
}

#bg-image-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#bg-image {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    background-size: cover;
    transition: 2s all ease-in-out;
    overflow: hidden;
}

.bg-image-unloaded {
    opacity: 0;
}

.bg-image-loaded {
    opacity: 1;
}

.btn-small {
    display: inline-block;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    height: 30px;
    width: auto;
    padding: 0px 7px;
    letter-spacing: 1px;
    background-color: #fff;
    color: #444;
    font-size: 0.8em;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    line-height: 30px;
}

.btn-small:hover {
    background-color: #fff;
    border-color: #aaa;
}

.btn-small:active {
    background-color: #fff;
    border-color: #8ac;
    color: #8ac;
    transition: 0.05s all ease-out;
}

.error-text {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: red;
    font-size: 0.8em;
}

.user-list {
	padding: 20px 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	overflow-y: scroll;
}

.user-list li {
	list-style: none;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px 10px;
}

.user-list a {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #666;
}

footer {
	display: block;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    box-sizing: border-box;
    position: absolute;
	width: 60%;
    bottom: 0;
    padding: 5px 0;
	margin: 0 20%;
    background-color: #293038;
    color: #666;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}