body {
    margin: 0 0;
	background-color: #293038;
}

a {
    text-decoration: none;
}

.portrait {
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    transition: 0.5s all ease-out;
}

.portrait img {
    width: 100%;
}

.profile-icon {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 1px solid #ccc;
    overflow: hidden;
    margin: 0 auto;
}

.profile-icon img {
    width: 100%;
    transition: 0.5s all ease-in-out;
}

.profile-icon-detail {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 200px;
    line-height: 200px;
    text-align: center;
    opacity: 0;
    transition: 0.02s all ease-out;
}

.profile-icon-detail a {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: white;
    font-size: 1.2em;
}

.profile-icon:hover img {
    transform: scale(1.1, 1.1);
}

.profile-icon:hover .profile-icon-detail {
    opacity: 1;
}

input{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	padding: 7px 7px;
}

h1 {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	text-align: center;
	margin-top: 10px;
	color: #333;
}

h2 {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #444;
	font-size: 1.1em;
}

#main-container {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 20px 20px;
}

button, .btn-large {
    display: block;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 0.8em;
	height: 40px;
    line-height: 40px;
	margin: 5px auto 5px auto;
	background-color: #444;
	border: 0px none;
	color: #fff;
	width: 260px;
	letter-spacing: 1px;
	transition: 0.1s all ease-out;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

button:hover, .btn-large:hover {
	background-color: #358;
}

#bg-image-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#bg-image {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    background-size: cover;
    transition: 2s all ease-in-out;
    overflow: hidden;
}

.bg-image-unloaded {
    opacity: 0;
}

.bg-image-loaded {
    opacity: 1;
}

.btn-small {
    display: inline-block;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    height: 30px;
    width: auto;
    padding: 0px 7px;
    letter-spacing: 1px;
    background-color: #fff;
    color: #444;
    font-size: 0.8em;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    line-height: 30px;
}

.btn-small:hover {
    background-color: #fff;
    border-color: #aaa;
}

.btn-small:active {
    background-color: #fff;
    border-color: #8ac;
    color: #8ac;
    transition: 0.05s all ease-out;
}

.error-text {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: red;
    font-size: 0.8em;
}

.user-list {
	padding: 20px 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	overflow-y: scroll;
}

.user-list li {
	list-style: none;
	border: 1px solid #ccc;
	border-radius: 5px;
    height: 40px;
    line-height: 40px;
}

.user-list a {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #666;
    padding: 10px 10px;
}

.user-list p {
    float: left;
    padding: 0 10px;
    margin: 0 0;
    font-size: 1.2em;
    color: #888;
}

.user-list p:hover {
    color: #666;
}

.user-list .profile-icon {
    float: left;
    width: 35px;
    height: 35px;
    border: 1px solid #ddd;
    margin: 1px 0px 0px 0px;
}

.user-list .profile-icon img {
    transform: scale(1, 1);
    transition: 0.1s transform ease-out;
}

.user-list .profile-icon:hover {
    border-color: #aaa;
}

.user-list .profile-icon:hover img{
    transform: scale(1.1, 1.1);
}

.user-list form {
    float: right;
    margin: 0px 6px;
}

.user-list li button {
    float: left;
}

#nav-tree {
    display: block;
    margin: 0;
    background-color: #fff;
}

#nav-tree ul {
    padding: 10px 0px 7px 10px;
    margin: 0 20px;
    height: 20px;
    border-bottom: 1px solid #ddd;
}

#nav-tree li:nth-child(1) {
    list-style: none;
}

#nav-tree li {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    float: left;
    list-style: circle;
    list-style-image: url('../img/nav-tree-list-style.png');
    list-style-position: inside;
    margin: 0px 0px 0px 1px;
}

#nav-tree li a {
    position: relative;
    top: -2px;
    left: -4px;
    color: #aaa;
}

#nav-tree li a:hover {
    color: #777;
}

#nav-tree li:last-child a {
    color: #8ac;
}

#nav-tree li:last-child a:hover {
    color: #668fb9;
}

footer {
	display: block;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    box-sizing: border-box;
    position: absolute;
	width: 100%;
    bottom: 0;
    padding: 5px 5px;
	margin: 0 0;
    background-color: #293038;
    color: #666;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

@media only screen and (min-width: 700px) {
    footer {
        width: 60%;
        padding: 5px 0px;
        margin: 0 20%;
    }
    
    #main-container {
        margin: 0 20%;
        padding: 20px 20px;
    }
    
    #nav-tree {
        margin: 0 20%;
    }
}